@model FamilyPoints.Domain.Transaction

@{
    ViewBag.Title = "Create";
}
@Html.Hidden("PointType", "Behavior");
<h2>Add Reward @Html.Encode(ViewData["ChildName"])</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Transaction</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

  
        <div class="editor-label">
            @Html.LabelFor(model => model.ParentId, "Parent")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ParentId", String.Empty)
            @Html.ValidationMessageFor(model => model.ParentId)
        </div>

      

       <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
             @Html.DropDownList("Description")
            @Html.ValidationMessageFor(model => model.Description)
        </div>

       

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Summary", "Index","Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
