@model FamilyPoints.Domain.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Transaction</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Child.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Child.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Parent.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parent.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PointType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PointType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Points)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Points)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TransactionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
