@model FamilyPoints.Domain.Reward

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Reward</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Points)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Points)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RewardID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
